---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast/daily?APPID=1111111111&units=metric&zip=11205,us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"city":{"id":0,"name":"Brooklyn","coord":{"lon":-73.9666,"lat":40.6924},"country":"US","population":0},"cod":"200","message":47.159335,"cnt":7,"list":[{"dt":1509465600,"temp":{"day":13.58,"min":8.45,"max":13.58,"night":8.45,"eve":13.18,"morn":13.58},"pressure":1027.58,"humidity":89,"weather":[{"id":800,"main":"Clear","description":"sky
        is clear","icon":"01d"}],"speed":5.58,"deg":265,"clouds":0},{"dt":1509552000,"temp":{"day":10.11,"min":4.7,"max":13.48,"night":13.48,"eve":11,"morn":4.7},"pressure":1037.69,"humidity":89,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"speed":1.21,"deg":239,"clouds":48,"rain":0.35},{"dt":1509638400,"temp":{"day":18.87,"min":16.38,"max":21.13,"night":16.61,"eve":16.38,"morn":16.8},"pressure":1034.06,"humidity":81,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"speed":3.31,"deg":189,"clouds":88,"rain":2.49},{"dt":1509724800,"temp":{"day":14.86,"min":9.9,"max":14.86,"night":9.93,"eve":13.66,"morn":9.9},"pressure":1016.92,"humidity":0,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"speed":1.65,"deg":237,"clouds":69,"rain":0.95},{"dt":1509811200,"temp":{"day":13.42,"min":6.41,"max":13.42,"night":6.41,"eve":8.88,"morn":6.8},"pressure":1023.67,"humidity":0,"weather":[{"id":800,"main":"Clear","description":"sky
        is clear","icon":"01d"}],"speed":1.52,"deg":5,"clouds":1},{"dt":1509897600,"temp":{"day":15.54,"min":8.36,"max":16.25,"night":16.25,"eve":15.88,"morn":8.36},"pressure":1017.03,"humidity":0,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"speed":4.03,"deg":182,"clouds":95,"rain":1.88},{"dt":1509984000,"temp":{"day":18.52,"min":10.51,"max":18.52,"night":10.51,"eve":14.04,"morn":16.01},"pressure":1017.64,"humidity":0,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"speed":1.98,"deg":11,"clouds":50,"rain":2.55}]}'
  recorded_at: Tue, 31 Oct 2017 20:06:17 GMT
recorded_with: VCR 3.0.3
