---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast?APPID=1111111111&units=metric&zip=11205,us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0.0051,"cnt":40,"list":[{"dt":1509483600,"main":{"temp":13.18,"temp_min":10.98,"temp_max":13.18,"pressure":1028.84,"sea_level":1032.28,"grnd_level":1028.84,"humidity":84,"temp_kf":2.21},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"clouds":{"all":0},"wind":{"speed":4.44,"deg":270.005},"sys":{"pod":"d"},"dt_txt":"2017-10-31
        21:00:00"},{"dt":1509494400,"main":{"temp":10.52,"temp_min":8.86,"temp_max":10.52,"pressure":1031.44,"sea_level":1034.85,"grnd_level":1031.44,"humidity":90,"temp_kf":1.66},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"clouds":{"all":0},"wind":{"speed":3.7,"deg":259.504},"sys":{"pod":"n"},"dt_txt":"2017-11-01
        00:00:00"},{"dt":1509505200,"main":{"temp":8.45,"temp_min":7.35,"temp_max":8.45,"pressure":1032.98,"sea_level":1036.54,"gr[...]
